body{
  display: flex;
  border: none;
  justify-content: center;
  background-color:#dddbdb;
}

section {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input{
  background: none;
  width: 300px;
  height: 32px;
  border-radius: 12px;
  font-size: 18px;
  padding: 8px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  
}



input#type{
  width: 20px;
 
}

div#findDiv{
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
}

div#checkType{
  margin-top: 8px;
  margin-right: 260px;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  font-family: 'Raleway', sans-serif;
  width: 400;

}

div#poke{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

div#poke div {
  margin: 40px 50px 0px 50px;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

div#poke div div{
  margin: 0;
}



div#poke h2{
  margin-bottom: 20px;
  text-align: center;
  letter-spacing: 0.15rem;

}
div#poke img{
width: 200px;

}


button{
  background: none;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  
  margin-left: 18px;
  border-radius: 12px;
  width: 98px;
  height: 48px;

 
}

 input:focus{
  outline: none;

}
button:hover{
  width: 102px;
  height: 50px;
  font-size: 22px;
}


h1{
  margin-right: 54px;
  margin-top: 60px;
  font-size: 2.3rem;
  font-weight: 1500;
  font-family: 'Ubuntu', sans-serif;
  
}

@media screen and (max-width: 500px){
  input{

    width: 250px;
    height: 24px;
    
    font-size: 16px;
    padding: 8px;
  
  
  }
  
  div#checkType{
    font-size: 14px;
    margin-top: 8px;
    margin-right: 200px;
   
  }

  button{
    font-size: 18px; 
    height: 42px;
    padding: 8px;

    margin-left: 12px;
    
  }
  button:hover{
    font-size: 22px; 
    height: 44px;
    padding: 8px;

    margin-left: 12px;
    
  }
}